//colors
$white: #fff;
$color_mountain_meadow_approx: #18bc9c;
$color_mountain_meadow_approx: #18bc9c;
$color_mountain_meadow_90_approx: rgba(24,188,156,.9);
$backgroundFooter:#233140;
$black: black;
$navHoverbackground:#231A69;