.navbar-custom a {
    color: $white;
}

.nav>li>a{
	&:hover {
		background:$hoverColor;
		border-radius: 30px;
	}
}
.navbar-fixed-top {
	background: $navHoverbackground;
    // background-image: url("../images/giphy2.gif");
    padding-bottom: 16px;
}
