section#about.success
			.container
				h2 Sobre mi
				hr.star-light
				.row
					.comentario.col-sm-5
						//- img.img-responsive(src='images/yop.jpg',class="img-circle", alt='')
					.comentario.col-sm-7
						p
						| Soy de aquellas personas que disfruta del lenguaje de programación, por ello mi meta es convertirme en ingeniera de software. Tengo experiencia  trabajando en equipo para el desarrollo de proyecto.
						p
						| Cuando no programo, me dedico a armar rompecabezas, a dibujar y disfrutar de la lectura de un buen libro.