.conocimiento
	section.intro
		h1 CONOCE LO QUE APRENDI EN LABORATORIA ↓
		a.btn.btn-circle.page-scroll.pulse(href='#conocimiento')
							i.fa.fa-angle-double-down
	section.timeline#conocimiento
		ul
			li
				div
					time 
					|  HTML
			li
				div
					time 
					|  CSS
			li
				div
					time 
					|  SASS
			li
				div
					time 
					|  JADE
				
			li
				div
					time 
					|  JAVASCRIPT
			li
				div
					time 
					|  JQUERY
			li
				div
					time 
					|  GITHUB

