header
			.container
				.row
					.col-lg-12.headerP.opacity
						//- img.img-responsive(src='images/yoop.jpeg',class="img-circle", alt='')
						.intro-text
							span.animated.shake.name Hola, mi nombre es Rita, me gusta el diseño y desarrollo de páginas web, te invito a ver parte de lo que aprendi.
						a.btn.btn-circle.page-scroll.pulse(href='#about')
							i.fa.fa-angle-double-down