section#portfolio.portafolio
			.container
				.row
					.col-lg-12.text-center
						h2 Portfolio
						hr.star-primary
				.row
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.animated.wobble.img-responsive(src='images/loveBlog.jpg', class="img-circle", alt='')
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.img-responsive(src='images/loveBlog.jpg',class="img-circle", alt='')
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.img-responsive(src='images/loveBlog.jpg', class="img-circle", alt='')
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.img-responsive(src='images/loveBlog.jpg', class="img-circle", alt='')
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.img-responsive(src='images/loveBlog.jpg', class="img-circle", alt='')
					.col-sm-4.portfolio-item
						a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
							.caption
								.caption-content
									i.fa.fa-search-plus.fa-3x
							img.img-responsive(src='images/loveBlog.jpg', class="img-circle", alt='')